<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="script-src 'self' assets.adobedtm.com consent.trustarc.com 'unsafe-inline'; img-src 'self' data: consent.trustarc.com cm.everesttech.net; frame-ancestors 'none'" />
     </customHeaders>
   </httpProtocol>
    <rewrite>
      <rules>        
        <rule name="ReactViteApp" stopProcessing="true"> 
          <match url=".*" /> 
          <conditions logicalGrouping="MatchAll"> 
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
          </conditions> 
          <action type="Rewrite" url="index.html" /> 
        </rule>
      </rules>
    </rewrite>
    <staticContent> 
      <remove fileExtension=".woff" /> 
      <remove fileExtension=".woff2" /> 
      <remove fileExtension=".otf" /> 
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" /> 
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" /> 
      <mimeMap fileExtension=".otf" mimeType="font/otf" /> 
    </staticContent>
  </system.webServer>
</configuration>